th {direction:rtl;}
td {direction:rtl;}
table {direction:ltr;}
img { border:0px;}
a { text-decoration:none;}
a:visited { color:#408bb2; }

.tablestyle tr.itemrow:nth-child(odd)    { background-color:#eee; }
.tablestyle tr.itemrow:nth-child(even)    { background-color:#fff; }

.inputstyle {
	width:300px;
	height:20px;
	padding:6px;
	direction:rtl;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FFF;
	border:1px solid #999;
}

.footersmalllinks {
	text-align:center;
	color:#FFF;
	padding-top:10px;
}

.footersmalllinks a {
	color:#FFF;
	font-size:11px;
}

/* Basket style */

.tablestyle {
	border-bottom:1px solid #dbdbdb;
}
.tablestyle th {
	padding:5px;
	margin:0px;
	color:#999999;
	text-align:right;
	border-bottom:1px solid #dbdbdb;
	font-weight:normal;
}
.tablestyle .summarytext {
	color:#000;
}
.tablestyle .itemrow td {
	padding:5px;
	margin:0px;
	color:#666;
	border-bottom:1px solid #dbdbdb;
	vertical-align:top;
}
.tablestyle .itemrow td div {
	margin-top:15px;
	margin-bottom:10px;
	color:#666666;
}
.tablestyle .itemrow td div a {
	
}
.tablestyle .itemrow td div b {
	font-weight:normal;
	color:#666;
	font-size:18px;
}
.tablestyle .summaryrow b {
	font-size:18px;
	font-weight:normal;
}
.tablestyle .summaryrow {
	font-weight:normal;
	background-color:#eaeaea;
	color:#666;
}
.tablestyle .summaryrow .summarytitle {
	font-size:18px;
	text-align:left;
	padding-left:30px;
}
.coupontitle { color:#999999; font-size:18px; }
.coupontext { color:#999999; margin-top:2px; margin-bottom:4px; }
.coupontextbox { border:1px solid #999999; height:23px; width:156px; padding:0px; margin:0px; float:right; }
.couponbut { background-color:#999; color:#FFF; border:0px; padding:0px; margin:0px; height:25px; width:70px; font-weight:bold; float:right; margin-right:5px; }

.continuelink { font-weight:bold; color:#999999; font-size:16px; }

.notifymsg {width:400px;margin:0px auto;padding:10px;background-color:#fff3bd;border:1px solid #e5d485;text-align:center;}

.successmsg {width:400px;margin:0px auto;padding:10px;background-color:#d4f5c9;border:1px solid #b3d7a7;text-align:center;}

.errormsg {width:400px;margin:0px auto;padding:10px;background-color:#f8dada;border:1px solid #e5bfbf;text-align:center;}
.errormsg a { font-weight:bold; color:#000;}

.backgroundmsg {font-size:24px; color:#CCCCCC;}

.subtitles {
	color:#000;
	font-size:20px;
	width:800px;
	margin:0px auto;
	text-align:right;
	margin-bottom:10px;
}

.panelseperator {
	width:800px;
	height:3px;
	margin:0px auto;
	margin-bottom:10px;
	background-color:#dcdcdc;
}

.deliveryoption {
	border:1px solid #dcdcdc;
	display:block;
	width:160px;
	padding:20px;
	margin:0px;
	position:relative;
	cursor:pointer;
}
.deliveryoption:hover {
	background-color:#f2f2f2;
}

.deliveryoption .r {
	position:absolute;
	right:10px;
}

.deliveryoption .t {
	padding-right:35px;
	top:3px;

}

.deliveryoption span {
	font-size:16px;
	font-weight:bold;
}

/* Form */
	
	.formcontainer {
	direction:rtl;
	}
	
	.formcontainer input[type="text"], .formcontainer textarea, .formcontainer select, .formcontainer input[type="password"] { 
		padding: 5px 4px;
		font: normal 12px arial, helvetica, sans-serif;
		border: 1px solid #b3b3b3;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-border-radius:4px;
		_border: 1px solid #ccc !important;
		_padding: none;
		width:190px;
	}
	
	.formcontainer input[type="text"]:focus, .formcontainer textarea:focus, .formcontainer select:focus, .formcontainer input[type="password"]:focus {
		border: 1px solid #308aaf;
		outline: none;
	}
	
	.formcontainer {
		line-height: 1.2;
		/* Give content layout to fix IE7 bug with 100% width tables  */
		
	}
	.formcontainer label {
		display: block;
		font-size: 12px;
		padding: 10px 0 3px 0;
	}
	
	.formcontainer label span.comment {
		color:#999;
	}
	
	.formcontainer div.smalltextbox { float:right; margin-left:20px; }
	.formcontainer div.smalltextbox input[type="text"] { width:80px; }
	
	
.ordersuccess {
	color:#0092c8;
	font-size:36px;
}

.summarydetailstxt b, .summarydetailstxt span {
	color:#666;
}
.summarydetailstxt span {
	padding-left:20px;
}
.summarydetailstxt h2 {
	color:#666666;
}

.textltr {
	direction:ltr;
}

.pagetitle{font:normal 24px Arial, Helvetica, sans-serif; color:#666666; display:block; padding:0px; margin:0px;}
.pagetitle:hover{ text-decoration:none; }

/* Side basket */

.sidebaskettile { border-bottom:1px solid #CCC; height:40px; line-height:40px; position:relative; }
.sidebaskettile div { position:absolute; left:0px; top:0px; }

.tablestyle_sidebasket .itemrow td {
	padding:5px;
	margin:0px;
	color:#666;
	border-bottom:1px solid #dbdbdb;
	vertical-align:top;
}
.tablestyle_sidebasket .itemrow td div {
	margin-top:15px;
	margin-bottom:10px;
	color:#666666;
}
.tablestyle_sidebasket .itemrow td div a {
	font-size:10px;
	color:#999999;
}
.tablestyle_sidebasket .itemrow td div b, .tablestyle_sidebasket .itemrow td div span {
	color:#666;
	font-size:12px;
}
.tablestyle_sidebasket .summaryrow b {
	font-size:14px;
}
.tablestyle_sidebasket .summaryrow {
	font-weight:normal;
	background-color:#eaeaea;
	color:#666;
}
.tablestyle_sidebasket .summaryrow .summarytitle {
	font-size:14px;
	text-align:left;
	padding-left:30px;
}

/* Checkout page */

.graytext { color:#666666; }
.lightgraytext { color:#cccccc; }

.linkbut { background-image:url(../img/bluearrow.gif); background-position:left; background-repeat:no-repeat; padding-left:8px; }

.checkoutpaneltitle { background-color:#eaeaea; width:584px; height:40px; }
.checkoutpaneltitle span.num {  background-color:#cccccc; display:block; float:right; color:#FFF; font-size:18px; font-weight:bold; padding:9px 7px 0px 8px; height:31px; }
.checkoutpaneltitle span.text { height:40px; display:block; float:right; color:#b0b0b0; font-size:18px; padding:8px 8px 0px 0px; }
.checkoutpaneltitle span.link { height:40px; display:block; float:left; color:#b0b0b0; font-size:12px; padding:12px 0px 0px 12px; }

.checkoutpanel { background-color:#eaeaea; width:584px; border-top:1px solid #cccccc; text-align:right; padding-top:20px; padding-bottom:30px; }
.checkoutpanel div { color:#666; }
.checkoutpanel .panelsep { background-color:#cccccc; width:1px; border-left:1px solid #cccccc;}

.loginpanel { padding:0px 30px 0px 30px; height:200px; position:relative; }

.checkoutsubpanel { padding:0px 30px 0px 30px; }

.subtitle1 { font-size:18px; color:#666666; padding:0px; margin:0px; }

.loginpanelbut { position:absolute; bottom:0px; right:30px; color:#FFF; text-decoration:none; }
.loginpanelbut:hover { color:#FFF; }

.panelsepline { border-bottom:1px solid #CCC; height:30px; margin-bottom:15px; position:relative; }

.checkoutpanel div.fielderror { color:#F00; }

#myaccountbar { background-color:#eaeaea; height:40px; margin-top:20px; }
#myaccountbar a { display:block; padding:9px; float:right; font-size:18px; margin-left:20px; padding-left:15px; padding-bottom:10px; color:#b0b0b0; }
#myaccountbar a:hover { background-color:#308aaf; color:#FFF; }
#myaccountbar a.logoff { float:left; margin-left:0px; }
#myaccountbar a.selected { background-color:#308aaf; color:#FFF; }

.pthumb {display:block;width:202px;margin-left:39px; margin-bottom:30px;}
.pthumb .n {color:#666666;font-size:18px;margin-top:10px;}
.pthumb .sn {color:#666666;font-size:14px;margin-top:5px;}
.pthumb .sd {color:#666666;font-size:12px;height:30px;overflow:hidden;margin-top:10px;}
.pthumb .pp {color:#408bb2;font-size:18px;margin-top:10px;}
.pthumb .pp span {font-size:14px;}
.pthumb .b {background-color:#519231;color:#FFFFFF;font-size:16px;padding:5px;padding-left:10px;padding-right:5px;float:right;margin-top:10px;overflow:hidden;}

.rightsection { float:right; width:202px; padding-top:20px;}
.leftsection { float:left; width:686px; padding-top:20px;}

.sidecats ul { padding:0px; margin:0px;}
.sidecats ul li { list-style:none;}
.sidecats ul li a { background-color:#f3f3f3; color:#666666; font-size:14px; display:block; text-decoration:none; line-height:30px; margin-bottom:1px; padding-right:7px;}
.sidecats ul li a:hover, .sidecats ul li.subcatlink a:hover, .sidecats ul li.subcatlinkselected a { background-color:#519231; color:#FFFFFF;}
.sidecats ul li.subcatlink a { background-color:#FFF;color:#666666;}

.brdcrmb { padding-bottom:3px;}
.brdcrmb ul { padding:0px; margin:0px;}
.brdcrmb ul li { list-style:none; padding:0px; margin:0px; float:right;}
.brdcrmb ul li a { color:#a9a9a9; text-decoration:none; padding:0px; margin:0px;}
.brdcrmb ul li img { margin-left:5px; margin-right:5px; margin-top:3px;}

.productpicpanel { float:left; width:381px;}
.productpicpanel img { border:1px solid #d8d8d8;}

.producttextpanel { width:278px; float:right;}
.producttextpanel .pricepanel div.p { color:#408bb2; font-size:24px;}
.producttextpanel .pricepanel div.p span { font-size:14px;}
.producttextpanel .pricepanel div.op { font-size:14px; color:#666666;}
.producttextpanel .pricepanel div.t { font-size:14px; color:#666666;}

.imglist { list-style:none;}
.imglist img { border:1px solid #d8d8d8; cursor:pointer; margin-right:10px;}

#tabspanel {background-image:url(../img/tabscorntop.gif);background-repeat:no-repeat;background-position:0px 0px; border:1px solid #d8d8d8; margin-top:40px;-webkit-box-shadow: 0px 1px 10px rgba(0,0,0,.1);-moz-box-shadow: 0px 1px 10px rgba(0,0,0,.1);box-shadow: 0px 1px 10px rgba(0,0,0,.1); background-color:#FFFFFF;}
#tabspanel ul {height:40px;margin:0px;padding:0px; list-style:none; margin-right:-1px; margin-top:-40px; display:block;}
#tabspanel li {float:right;}
#tabspanel li a {height:22px;display:block;color:#666666;padding:8px;padding-right:18px;padding-left:18px;text-align:center;font-family:Arial, Helvetica, sans-serif;margin-left:5px;font-size:18px; border-top:1px solid #f3f3f3; border-left:1px solid #f3f3f3; border-right:1px solid #f3f3f3; text-decoration:none; background-color:#f3f3f3; outline:none;}
#tabspanel li a.selected {color:#666666;background-color:#FFF;border-top:1px solid #d8d8d8; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; height:23px;}
#tabspanel div.content {padding:20px;}
#tabspanel div.footer {height:8px;padding:0px;margin:0px;}

.butstyle { background-color:#519231; color:#FFFFFF; font-size:20px; padding:10px; display:block; text-decoration:none; float:right; overflow:hidden; padding-left:20px; padding-right:15px; padding-top:7px; border:0px; cursor:pointer;}
.butstyle img { margin-top:2px; padding:0px;}
.butstyle:visited { color:#FFF;}

.paramstable th {text-align:right;width:20%;color:#666;}
.paramstable tr.odd {}
.paramstable tr.even {background-color:#eaeaea;}