html{overflow-y: scroll;}
body{font-family: Arial, Helvetica, sans-serif; margin:0px; padding:0px; direction:rtl; background-color:#fff;}

/* ======================= Main Layout Styles =====================*/
.wrapper{width:100%;}
.rightPic { left: 0; position: fixed;top: 0; width: auto;}

/*-- midContent Style --*/
.midContent { background:  #FFFFFF; position:absolute;right: 261px; top: 0;width: 751px; height:871px !important;}
.Content{width:680px;margin:0px auto;}
.details{width:100%; padding:30px 0 ;}
.details_left{float:left;width:264px;}
.details_left h2{font-size:30px; color:#666666; font-weight:normal;}
.details_left p{font-size:14px; color:#666666; padding:10px 0 0 0;}
.details_left a{font-size:14px; color:#ff7900; background:url(../img/icon2.png) no-repeat 86px 13px; padding:14px 24px 0 0 ; float:right;}

.details_right{float:right;width:264px;}
.details_right h2{font-size:30px; color:#666666; font-weight:normal;}
.details_right p{font-size:14px; color:#666666; padding:10px 0 0 0;}
.details_right a{font-size:14px; color:#ff7900; background:url(../img/icon2.png) no-repeat 86px 13px; padding:14px 24px 0 0 ; float:right;}

.boder{height:1px; width:100%;background-color:#eaeaea;}
.footer{width:100%; padding:110px 0 0 0;}
.footer span{font-size:12px; color:#b6b6b6;}
.footer span.cop{ float:left;}
.footer ul{margin:0px;padding:0px; float:right;}
.footer li{float:left;padding:0 0 0 5px;}
.footer li a{font-size:14px; color:#666666;}

/*-- leftNav Style --*/
.leftNav {background: url(../img/nav_bg.jpg) repeat-y left top; height:840px; float: right; padding-top: 32px;position:absolute;right: 0;top: 0;width: 261px; z-index: 999999;}
.logo{width:100px; padding:0 15px 0 0;}
.nav{padding:46px 0 0 0; float:right;}
.nav ul{margin:0px; padding:0px; }
.nav ul li{padding:0px;margin:0px;}
.nav ul li:hover{padding:0px;margin:0px;float:right;}
.nav ul li a{padding:11px 14px 11px 0;width:238px; float:right; font-size:24px; color:#666666; text-align:right; border-top:#eaeaea 1px solid;}
.nav ul li a:hover{background:url(../img/icon.png) no-repeat 15px 16px;  color:#fff;text-decoration:none; background-color:#838383;}
.nav ul li.sel a{background:url(../img/icon.png) no-repeat 15px 16px;  color:#fff;text-decoration:none; background-color:#838383;}


.lg{width:100%;}
.lg span a{float:left;font-size:14px; color:#666666;padding:30px 0 0 0; margin-left:34px;}
.lg pre a{float:right;font-size:14px; color:#666666;padding:29px 0px 0 0; margin-right:12px;}

.left_buttom{width:100%; float:right;padding:140px 0 0 0;}

.pagetitle { font-size:60px; color:#ff7900; font-weight:100;}

.toppages { margin-top:35px; height:17px;}
.toppages li { float:right; list-style:none; padding-left:25px;}
.toppages li a { color:#666666;}

.pageheader { margin-top:58px;}
.pageheader { margin-bottom:40px;}

.brdcrmb { color:#ff7900; font-size:14px;}
.brdcrmb a { color:#ff7900; font-size:14px;}
.brdcrmb span { padding-right:6px; padding-left:6px;}

.pagecontent { color:#666;}


