body{margin:0px;padding:0px;font-size:62.5%; font-family:"SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; background:#FFF ; font-weight:lighter}
html{height:100%;}
* {margin: 0;}
html, body {height: 100%;}


/******** reset ********/
H1,H2,H3,H4,H5,P,UL,LI,FORM,BR,LABLE,A,SPAN,TABLE,TR,TH,TD,DIV,SPAN,FIELDSET,IMG {margin:0;padding:0;font-size:100%;vertical-align: baseline;outline: 0;border:none;}
H1,H2,H3,H4,H5,INPUT,SELECT,LABEL,RADIO,TD {vertical-align:middle;} 
UL,LI{list-style-type:none;}
TABLE {border-collapse: collapse;border-spacing: 0;}
A:link, A:hover, A:focus, A:active, A:visited, A:active:visited {border:medium none;outline-width:0;}
:focus {outline: 0;}
/*.H10{width:100%;height:10px;clear:both; float:none;}*/

.textContent ul{padding-left:20px;}
.textContent ul li{list-style-type:disc;font:lighter 14px/22px "SEGOE UI LIGHT","SEGOE UI",TAHOMA,ARIAL,VERDANA,SANS SERIF;color:#393939;}
ol li{list-style-type:decimal;font:lighter 14px/22px "SEGOE UI LIGHT","SEGOE UI",TAHOMA,ARIAL,VERDANA,SANS SERIF;color:#393939;}


/****** general *******/
.clear {float:none;clear:both; font-size:0px; line-height:0px; width:0px; height:0px;} .L {float:left;} .R {float:right;} .ie6Fix {font-size:1px;line-height:1px;}
.margin_auto {margin:0px auto;} .P {cursor:pointer;} .center {text-align:center;} .align_L {text-align:left;} .align_R {text-align:right;}
.rel {position:relative;} .listNone {list-style-type:none;} .rtl {direction:rtl;} .ltr {direction:ltr;} .borderNone {border:none;}
A {text-decoration:none;}

/* clear fix */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}  html[xmlns] .clearfix {display: block;} * html .clearfix {height: 1%;}
/********* heights *********/
.h10 {width:100%;height:10px;} .h15 {width:100%;height:15px;}  .h18 {width:100%;height:18px;} .h20 {width:100%;height:20px;}  .h25 {width:100%;height:25px;} .h30 {width:100%;height:30px;} .h35 {width:100%;height:35px;}.h50 {width:100%;height:50px;}

/********* fonts **********/
.f11 {font:normal 1.1em Arial;} .f12 {font:normal 1.2em Arial;} .f13 {font:normal 1.3em Arial;} .f14 {font:normal 1.4em Arial;} .f15 {font:normal 1.5em Arial;}
.f16 {font:normal 1.6em Arial;} .f17 {font:normal 1.7em Arial;} .f18 {font:normal 1.8em Arial;} .f19 {font:normal 1.9em Arial;}
.f20 {font:normal 2.0em Arial;} .f21 {font:normal 2.1em Arial;} .f22 {font:normal 2.2em Arial;} .f23 {font:normal 2.3em Arial;} .f24 {font:normal 2.4em Arial;}  .f26 {font:normal 2.6em Arial;}  .f30 {font:normal 3.0em Arial;}
.f32 {font:normal 3.2em Arial;}  .f45 {font:normal 4.5em Arial;} 


DIV.leftNav { width:223px; float:left; padding-top:32px; text-align:center; direction:ltr; position:fixed; left:0px; top:0px; z-index:999999}
DIV.leftNav .logo { text-align:center; padding-bottom:46px; display:inline-block ; padding-left:2px;  }
DIV.leftNav UL.leftMenu { margin:0px; padding:0px; list-style:none;}
DIV.leftNav UL.leftMenu LI { display:block; padding:0px; margin:0px; }
DIV.blue DIV.leftNav { background:#499dde url(sprite00.png) no-repeat 0 -936px;}
DIV.blue DIV.leftNav UL.leftMenu LI { border-top:1px solid #7abcef; text-align:left;}
DIV.blue UL.leftMenu LI.last {border-bottom:1px solid #7abcef;}
DIV.blue UL.leftMenu LI A.selected { background:#2689d2}

DIV.green DIV.leftNav { background:#73c629 url(sprite00.png) no-repeat -550px 0;}
DIV.green DIV.leftNav UL.leftMenu LI { border-top:1px solid #96d45f; text-align:left;}
DIV.green UL.leftMenu LI.last {border-bottom:1px solid #96d45f;}
DIV.green UL.leftMenu LI A.selected { background:#5da919}

DIV.orange DIV.leftNav { background: url(sprite00.png) no-repeat -1100px -1112px;}
DIV.orange DIV.leftNav UL.leftMenu LI { border-top:1px solid #ff9e40; text-align:left;}
DIV.orange UL.leftMenu LI.last {border-bottom:1px solid #ff9e40;}
DIV.orange UL.leftMenu LI A.selected { background:#ff6c00}

DIV.red DIV.leftNav { background:#f8481f;}
DIV.red DIV.leftNav UL.leftMenu LI { border-top:1px solid #fa7657; text-align:left;}
DIV.red UL.leftMenu LI.last {border-bottom:1px solid #fa7657;}
DIV.red UL.leftMenu LI A.selected { background:#e53a12}

DIV.purple DIV.leftNav { background:#442359;}
DIV.purple DIV.leftNav UL.leftMenu LI { border-top:1px solid #735a83; text-align:left;}
DIV.purple UL.leftMenu LI.last {border-bottom:1px solid #735a83;}
DIV.purple UL.leftMenu LI A.selected { background:#301541}

DIV.leftNav UL.leftMenu LI A { padding:13px 0 13px 32px; vertical-align:middle;font:lighter 2.2em/22px "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#ffffff; display:block }
DIV.blue DIV.leftNav DIV.leftSearch { display:inline-block; width:155px; margin:0 auto; background:url(sprite00.png) no-repeat -1926px -219px; height:23px; padding-right:6px; margin-top:20px;}
DIV.blue DIV.leftNav DIV.leftSearch DIV.linkLeft { background:url(sprite00.png) no-repeat -1376px -1926px; height:23px; padding:0}

DIV.green DIV.leftNav DIV.leftSearch { display:inline-block; width:155px; margin:0 auto; background:url(sprite00.png) no-repeat -1926px -292px; height:23px; padding-right:6px; margin-top:20px;}
DIV.green DIV.leftNav DIV.leftSearch DIV.linkLeft {  background:url(sprite00.png) no-repeat -1926px 0; height:23px; padding:0 }

DIV.orange DIV.leftNav DIV.leftSearch { display:inline-block; width:155px; margin:0 auto; background:url(sprite00.png) no-repeat -1926px -365px; height:23px; padding-right:6px; margin-top:20px;}
DIV.orange DIV.leftNav DIV.leftSearch DIV.linkLeft { cursor:pointer; background:url(sprite00.png) no-repeat -1926px -73px; height:23px; padding:0 }

DIV.red DIV.leftNav DIV.leftSearch { display:inline-block; width:155px; margin:0 auto; background:url(sprite00.png) no-repeat -1926px -438px; height:23px; padding-right:6px; margin-top:20px;}
DIV.red DIV.leftNav DIV.leftSearch DIV.linkLeft {background:url(sprite00.png) no-repeat -1926px -146px; height:23px; padding:0 }

DIV.purple DIV.leftNav DIV.leftSearch { display:inline-block; width:155px; margin:0 auto; background:url(sprite00.png) no-repeat -2242px 0px; height:23px; padding-right:6px; margin-top:20px;}
DIV.purple DIV.leftNav DIV.leftSearch DIV.linkLeft {background:url(sprite00.png) no-repeat -2242px 0; height:23px; padding:0 }


DIV.leftNav DIV.leftSearch DIV.linkLeft .searchArrow {border:0px none; float:right; padding:0px; margin:0px; background:url(sprite00.png) no-repeat -825px -213px; cursor:pointer; width:20px; height:23px; }
DIV.leftNav DIV.leftSearch DIV.linkLeft .searchInput {text-align: center; padding:0px; margin:0px; float:left; width:135px; height:23px; border:0px none; background:transparent;font: lighter 1.5em/23px "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}

DIV.leftNav DIV.leftGallery { text-align:center; margin:45px auto 0 auto;}
DIV.blue DIV.leftNav DIV.nav { text-align:center; padding-top:12px; padding-bottom:23px; border-bottom:1px solid #7abcef}
DIV.green DIV.leftNav DIV.nav { text-align:center; padding-top:12px; padding-bottom:23px; border-bottom:1px solid #96d45f}
DIV.orange DIV.leftNav DIV.nav { text-align:center; padding-top:12px; padding-bottom:23px; border-bottom:1px solid #ffb243}
DIV.red DIV.leftNav DIV.nav { text-align:center; padding-top:12px; padding-bottom:23px; border-bottom:1px solid #fa7657}
DIV.purple DIV.leftNav DIV.nav { text-align:center; padding-top:12px; padding-bottom:23px; border-bottom:1px solid #735a83}


DIV.leftNav DIV.nav A { display:inline-block; background:url(sprite00.png) no-repeat -1376px 0; width:7px; height:7px; font-size:0px; line-height:0px; color:#FFFFFF; margin-right:6px;}
DIV.leftNav DIV.nav A.activeSlide {background:url(sprite00.png) no-repeat;}
DIV.blue DIV.leftNav DIV.nav A.activeSlide { background-position: -1376px -57px;}
DIV.green DIV.leftNav DIV.nav A.activeSlide { background-position: -1376px -114px;}
DIV.orange DIV.leftNav DIV.nav A.activeSlide { background-position: -1376px -171px;}
DIV.orange DIV.leftNav DIV.nav A.activeSlide { background-position: -1376px -228px;}
DIV.purple DIV.leftNav DIV.nav A.activeSlide { background-position: -1376px -281px;}

DIV.leftNav DIV.socialTools { position:absolute; left:223px; top:0px; z-index:999; min-width:6px; }
DIV.blue  DIV.socialTools { background:#004185}
DIV.green  DIV.socialTools { background:#357804}
DIV.orange  DIV.socialTools { background:#ff4200}
DIV.red  DIV.socialTools { background:#c6360f}
DIV.purple  DIV.socialTools { background:#301541}
DIV.socialTools  DIV.socialOpen { padding:20px; width:360px; text-align:left;overflow:hidden;display:none;}
DIV.socialTools  DIV.socialOpen H2 { font:lighter 2.4em/24px "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#fff; padding:0 0 5px 0; margin:0px;}
DIV.socialTools  DIV.socialOpen H2 A {color:#fff;}
DIV.socialTools  DIV.socialOpen UL.facebookList { margin:0px; padding:0px; list-style:none;}
DIV.socialTools  DIV.socialOpen UL.facebookList LI { padding:0 0 10px 0; margin:0px; font:lighter 1.2em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#fff}
DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG { float:left; margin-right:7px;}
DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN  { font-size:10px}
DIV.socialTools  DIV.socialOpen UL.facebookList2 { margin:0px; padding:0px; list-style:none}
DIV.socialTools  DIV.socialOpen UL.facebookList2 LI { padding:8px 0; margin:0px;}
DIV.blue DIV.socialTools  DIV.socialOpen UL.facebookList2 LI A.linkeLink  {  display:inline-block; background:url(http://www.microsoftrnd.co.il/img/likeIcon.png) no-repeat left; padding-left:68px; font:normal 1.2em/24px arial; color:#6bc1fa; margin-top:7px;}
DIV.socialTools  DIV.socialOpen UL.facebookList2 LI.last { border-bottom:0px none;} 
DIV.blue DIV.socialTools  DIV.socialOpen UL.facebookList2 LI { border-bottom:1px solid #266aa6l}
DIV.socialTools  DIV.socialOpen UL.facebookList2 LI DIV.scrollContent { height:180px; overflow:auto; width:260px; float:left}
DIV.socialTools  DIV.socialOpen UL.facebookList2 LI H2 { font:bold 13px arial; padding:0 0 20px 0; margin:0px;}
DIV.socialTools  DIV.socialOpen UL.facebookList2 LI P { font:normal 12px/14px arial!important; color:#ffffff!important; padding:0 0 10px 0!important; margin:0px!important; width:202px!important;}
DIV.socialTools  DIV.socialOpen UL.facebookList2 LI .picL { float:left; padding-right:10px;}

DIV.blue DIV.socialTools  DIV.socialOpen UL.facebookList2 LI H2 { color:#6bc1fa;}



DIV.blue  DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG {border:1px solid #1362a5}
DIV.blue  DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN { color:#6bc1fa}
DIV.blue  DIV.socialTools  DIV.socialOpen DIV.innerBoxs { background:#003b78; padding:17px 25px 15px 25px; margin-bottom:5px;}
DIV.blue  DIV.socialTools  DIV.socialOpen DIV.innerBoxs P { font:lighter 1.8em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#6bc1fa; padding:0 0 15px 0; margin:0px;}

DIV.green  DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG {border:1px solid #2b6501}
DIV.green  DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN { color:#6fbe25}
DIV.green  DIV.socialTools  DIV.socialOpen DIV.innerBoxs { background:#2b6501; padding:17px 0 15px 25px; margin-bottom:5px;}
DIV.green  DIV.socialTools  DIV.socialOpen DIV.innerBoxs P { font:lighter 1.8em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#6fbe25; padding:0 0 15px 0; margin:0px;}

DIV.orange  DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG {border:1px solid #d73800}
DIV.orange  DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN { color:#f99766}
DIV.orange  DIV.socialTools  DIV.socialOpen DIV.innerBoxs { background:#d73800; padding:17px 0 15px 25px; margin-bottom:5px;}
DIV.orange  DIV.socialTools  DIV.socialOpen DIV.innerBoxs P { font:lighter 1.8em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#f99766; padding:0 0 15px 0; margin:0px;}

DIV.red  DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG {border:1px solid #ae2802}
DIV.red  DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN { color:#ff7f67}
DIV.red  DIV.socialTools  DIV.socialOpen DIV.innerBoxs { background:#ae2802; padding:17px 0 15px 25px; margin-bottom:5px;}
DIV.red  DIV.socialTools  DIV.socialOpen DIV.innerBoxs P { font:lighter 1.8em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#ff7f67; padding:0 0 15px 0; margin:0px;}


DIV.purple  DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG {border:1px solid #512c69}
DIV.purple  DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN { color:#67497b}
DIV.purple  DIV.socialTools  DIV.socialOpen DIV.innerBoxs { background:#512c69; padding:17px 0 15px 25px; margin-bottom:5px;}
DIV.purple  DIV.socialTools  DIV.socialOpen DIV.innerBoxs P { font:lighter 1.8em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#67497b; padding:0 0 15px 0; margin:0px;}


DIV.socialTools  DIV.socialOpen DIV.innerBoxs .timeText { font:lighter 1.2em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#fff}
DIV.socialTools  DIV.socialOpen DIV.bottomLinks{ padding-top:10px;white-space: nowrap;overflow: hidden;}
DIV.socialTools  DIV.socialOpen DIV.bottomLinks A { display:inline-block; width:85px; height:80px; margin-right:4px; background-position: center; background-repeat:no-repeat;}
DIV.blue DIV.socialTools  DIV.socialOpen DIV.bottomLinks A { background-color:#003B78}
DIV.green DIV.socialTools  DIV.socialOpen DIV.bottomLinks A { background-color:#2b6501}
DIV.orange DIV.socialTools  DIV.socialOpen DIV.bottomLinks A { background-color:#d73800}
DIV.red DIV.socialTools  DIV.socialOpen DIV.bottomLinks A { background-color:#ae2802}
DIV.purple DIV.socialTools  DIV.socialOpen DIV.bottomLinks A { background-color:#512c69}

DIV.socialTools  DIV.socialOpen DIV.bottomLinks A {background:url(sprite00.png) no-repeat;}
DIV.socialTools  DIV.socialOpen DIV.bottomLinks A.iconT { background-position: -801px -1068px;}
DIV.socialTools  DIV.socialOpen DIV.bottomLinks A.iconF { background-position: -793px -983px;}
DIV.socialTools  DIV.socialOpen DIV.bottomLinks A.iconL {background-position: -803px -893px;}
DIV.socialTools  DIV.socialOpen DIV.bottomLinks A.iconY {background-position: -806px -803px;}

DIV.blue  DIV.socialTools A.tab { display:inline-block;*display:none; cursor:pointer; background:url(label000.png) no-repeat right; width:24px; height:94px; text-align: center; position:absolute; top:50%; right:-18px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.blue  DIV.socialTools A.tab:hover { width:24px; right:-21px;}
DIV.blue  DIV.socialTools A.tab SPAN { display:block; background:url(sprite00.png) no-repeat -1922px -497px;  height:94px; }

DIV.blue  DIV.socialTools A.tab_open { display:inline-block; cursor:pointer; background:url(label000.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.blue  DIV.socialTools A.tab_open:hover {width:21px; right:-21px;}
DIV.blue  DIV.socialTools A.tab_open SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -611px; height:94px; }

DIV.green  DIV.socialTools A.tab { display:inline-block;*display:none; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelG.png) no-repeat right; width:24px; height:94px; text-align: center; position:absolute; top:50%; right:-18px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.green  DIV.socialTools A.tab:hover { width:27px; right:-27px;}
DIV.green  DIV.socialTools A.tab SPAN { display:block; background:url(sprite00.png) no-repeat -1922px -497px;  height:94px; }

DIV.green  DIV.socialTools A.tab_open { display:inline-block; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelG.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.green  DIV.socialTools A.tab_open:hover {width:21px; right:-21px;}
DIV.green  DIV.socialTools A.tab_open SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -611px; height:94px; }

DIV.orange  DIV.socialTools A.tab { display:inline-block;*display:none; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelO.png) no-repeat right; width:24px; height:94px; text-align: center; position:absolute; top:50%; right:-18px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.orange  DIV.socialTools A.tab:hover { width:27px; right:-27px;}
DIV.orange  DIV.socialTools A.tab SPAN { display:block; background:url(sprite00.png) no-repeat -1922px -497px;  height:94px; }

DIV.orange  DIV.socialTools A.tab_open { display:inline-block; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelO.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.orange  DIV.socialTools A.tab_open:hover {width:21px; right:-21px;}
DIV.orange  DIV.socialTools A.tab_open SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -611px; height:94px; }

DIV.red  DIV.socialTools A.tab { display:inline-block;*display:none; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelR.png) no-repeat right; width:24px; height:94px; text-align: center; position:absolute; top:50%; right:-18px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.red  DIV.socialTools A.tab:hover { width:27px; right:-27px;}
DIV.red  DIV.socialTools A.tab SPAN { display:block; background:url(sprite00.png) no-repeat -1922px -497px;  height:94px; }

DIV.red  DIV.socialTools A.tab_open { display:inline-block; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelR.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.red  DIV.socialTools A.tab_open:hover {width:21px; right:-21px;}
DIV.red  DIV.socialTools A.tab_open SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -611px;height:94px; }

DIV.purple  DIV.socialTools A.tab { display:inline-block;*display:none; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelP.png) no-repeat right; width:24px; height:94px; text-align: center; position:absolute; top:50%; right:-18px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.purple  DIV.socialTools A.tab:hover { width:27px; right:-27px;}
DIV.purple  DIV.socialTools A.tab SPAN { display:block; background:url(sprite00.png) no-repeat -1922px -611px;  height:94px; }

DIV.purple  DIV.socialTools A.tab_open { display:inline-block; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelP.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.purple  DIV.socialTools A.tab_open:hover {width:21px; right:-21px;}
DIV.purple  DIV.socialTools A.tab_open SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -611px;height:94px; }


.one { height:100%;}
DIV.midContent { position:absolute; left:223px; top:0px; width:793px; background:#FFF url(contentB.png) repeat-y left; direction:ltr}
DIV.midContent DIV.midRel{height:100%;}
DIV.midContent DIV.contentCenter { width:590px; margin:0 auto;  }
DIV.midContent DIV.contentCenter DIV.topNav { padding-bottom:35px; width:590px;padding-top:22px; background:#FFF; position:fixed; z-index:999 }
DIV.midContent DIV.contentCenter DIV.topNav UL { margin:0px; padding:0px; list-style:none;}
DIV.midContent DIV.contentCenter DIV.topNav UL LI.frstLvl { float:left; padding:0 15px 0 0; margin:0px; font:normal 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; position:relative}
DIV.midContent DIV.contentCenter DIV.topNav UL LI A { color:#818080;}
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav UL LI A.select { color:#2c6aab;}
DIV.green DIV.midContent DIV.contentCenter DIV.topNav UL LI A.select { color:#4f9614;}
DIV.orange DIV.midContent DIV.contentCenter DIV.topNav UL LI A.select { color:#ff6c00;}
DIV.red DIV.midContent DIV.contentCenter DIV.topNav UL LI A.select { color:#e53a12;}
DIV.purple DIV.midContent DIV.contentCenter DIV.topNav UL LI A.select { color:#442359;}

DIV.midContent DIV.contentCenter DIV.topNav A.iconMail { display:inline-block; float:right; background: url(sprite00.png) no-repeat -825px -1419px; width:23px; height:22px; position:relative; }
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav A.iconMail:hover { background-position: -825px -1491px;}
DIV.green  DIV.midContent DIV.contentCenter DIV.topNav A.iconMail:hover { background-position: -825px -1563px;}
DIV.orange  DIV.midContent DIV.contentCenter DIV.topNav A.iconMail:hover { background-position: -825px -1635px;}
DIV.red  DIV.midContent DIV.contentCenter DIV.topNav A.iconMail:hover { background-position: -825px -1707px;}
DIV.purple  DIV.midContent DIV.contentCenter DIV.topNav A.iconMail:hover { background-position: -825px -1814px;}

DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter { display:inline-block; float:right; background:url(sprite00.png) no-repeat -2476px -1448px; width:23px; height:22px; margin:0 4px;position:relative;}
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter:hover { background-position: -2476px -1563px;}
DIV.green  DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter:hover { background-position: -2476px -1794px;} 
DIV.orange  DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter:hover { background-position: -2476px -1910px;}
DIV.red  DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter:hover { background-position: -2476px -2025px;}
DIV.purple  DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter:hover { background-position: -2476px -1962px;}

DIV.midContent DIV.contentCenter DIV.topNav A.iconBlog { display:inline-block; float:right; background: url(http://www.microsoftrnd.co.il/img/iIcon.png) no-repeat; width:23px; height:22px; margin:0 4px;position:relative;}
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav A.iconBlog:hover { background: url(http://www.microsoftrnd.co.il/img/iIconB.png) no-repeat;} 
DIV.orange  DIV.midContent DIV.contentCenter DIV.topNav A.iconBlog:hover { background: url(http://www.microsoftrnd.co.il/img/iIconO.png) no-repeat;} 


DIV.midContent DIV.contentCenter DIV.topNav A.iconFace { display:inline-block; float:right; background: url(sprite00.png) no-repeat -2476px -63px; width:23px; height:22px; position:relative;}
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav A.iconFace:hover { background-position: -2476px -178px;} 
DIV.green  DIV.midContent DIV.contentCenter DIV.topNav A.iconFace:hover { background-position: -2476px -409px;} 
DIV.orange  DIV.midContent DIV.contentCenter DIV.topNav A.iconFace:hover {  background-position: -2476px -525px;} 
DIV.red  DIV.midContent DIV.contentCenter DIV.topNav A.iconFace:hover { background-position: -2476px -640px;} 
DIV.purple  DIV.midContent DIV.contentCenter DIV.topNav A.iconFace:hover { background-position: -275px -881px;} 
DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { display:none; padding-top:10px; position:absolute; top:19px; left:12px;}
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { background:url(http://www.microsoftrnd.co.il/img/tooltioPointer.png) no-repeat left top;}
DIV.green  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { background:url(http://www.microsoftrnd.co.il/img/tooltioPointerG.png) no-repeat left top;}
DIV.orange  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { background:url(http://www.microsoftrnd.co.il/img/tooltioPointerO.png) no-repeat left top;}
DIV.red  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { background:url(http://www.microsoftrnd.co.il/img/tooltioPointerR.png) no-repeat left top;}
DIV.purple  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { background:url(http://www.microsoftrnd.co.il/img/tooltioPointerP.png) no-repeat left top;}

DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { display:inline-block; height:19px; padding:0 19px; font:lighter 1.5em/19px  "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF; }
DIV.blue  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { background:#4291cb;}
DIV.green  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { background:#70c428;}
DIV.orange  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { background:#ff7e00;}
DIV.red  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { background:#f5461e;}
DIV.purple  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { background:#442359;}

DIV.midContent DIV.contentCenter DIV.textContent { position:relative; top:110px; z-index:1}

/*DIV.midContent DIV.footer { position:fixed; bottom:0px; font:normal 1.2em arial; color:#696969; left:300px; width:650px; background:#fff; z-index:9999}*/
DIV.midContent DIV.footer { position:absolute; bottom:0px; font:normal 1.2em arial; color:#696969; left:80px; width:650px; background:#fff; z-index:9999}
DIV.midContent  DIV.footer UL { float:right; margin:0px; padding:0px; list-style:none}
DIV.blue  DIV.midContent DIV.footer UL LI { display:inline; padding:0 0 0 8px; margin:0px; color:#4393ce}
DIV.blue  DIV.midContent DIV.footer UL LI A { color:#4393ce;}
DIV.green DIV.midContent DIV.footer UL LI { display:inline; padding:0 0 0 8px; margin:0px; color:#73c629}
DIV.green DIV.midContent DIV.footer UL LI A { color:#73c629;}
DIV.orange DIV.midContent DIV.footer UL LI { display:inline; padding:0 0 0 8px; margin:0px; color:#73c629}
DIV.orange DIV.midContent DIV.footer UL LI A { color:#ff6600;}
DIV.red DIV.midContent DIV.footer UL LI { display:inline; padding:0 0 0 8px; margin:0px; color:#73c629}
DIV.red DIV.midContent DIV.footer UL LI A { color:#f8481f;}

DIV.purple DIV.midContent DIV.footer UL LI { display:inline; padding:0 0 0 8px; margin:0px; color:#512c69}
DIV.purple DIV.midContent DIV.footer UL LI A { color:#512c69;}


DIV.rightPic { position:fixed; left:1016px; top:0px; overflow:hidden; width:auto}

DIV.blue  DIV.bgL { background:#4494d1 url(http://www.microsoftrnd.co.il/img/dropD_top.png) no-repeat top;}
DIV.green  DIV.bgL { background:#70c428 url(http://www.microsoftrnd.co.il/img/dropD_top.png) no-repeat top;}
DIV.orange  DIV.bgL { background:#ff7e00 url(http://www.microsoftrnd.co.il/img/dropD_top.png) no-repeat top;}
DIV.red  DIV.bgL { background:#f5461e url(http://www.microsoftrnd.co.il/img/dropD_top.png) no-repeat top;}
DIV.purple  DIV.bgL { background:#512c69 url(http://www.microsoftrnd.co.il/img/dropD_top.png) no-repeat top;}

DIV.dropMenu {background:url(http://www.microsoftrnd.co.il/img/dropD_right.png) repeat-x bottom; padding-bottom:5px;  position:absolute; top:21px; left:0px; width:156px;}
DIV.dropMenu DIV.bgB {background:url(http://www.microsoftrnd.co.il/img/dropD_left.png) repeat-y left 0; padding-left:5px;  }
DIV.dropMenu DIV.bgL {  padding-top:14px; margin-left:-5px; position:relative!important; }
DIV.dropMenu DIV.bgL UL { margin:0px; padding:0px; list-style:none;}
DIV.dropMenu DIV.bgL UL LI { display:block; width:156px; padding:0px!important;  margin:0px!important; position:inherit!important}
DIV.blue DIV.dropMenu DIV.bgL UL LI { border-bottom:1px solid #66a6d7;}
DIV.green DIV.dropMenu DIV.bgL UL LI { border-bottom:1px solid #88c94e;}
DIV.orange DIV.dropMenu DIV.bgL UL LI { border-bottom:1px solid #fb942f;}
DIV.red DIV.dropMenu DIV.bgL UL LI { border-bottom:1px solid #f36747;}
DIV.purple DIV.dropMenu DIV.bgL UL LI { border-bottom:1px solid #705383;}

DIV.dropMenu DIV.bgL UL LI A { display:block; padding:5px 0 5px 12px; font:normal 12px arial; color:#FFF!important}
DIV.blue  DIV.dropMenu DIV.bgL UL LI A:hover { background:#007cbf;}
DIV.blue  DIV.dropMenu DIV.bgL UL LI DIV.sub2 { background:#007cbf url(http://www.microsoftrnd.co.il/img/subBgL.png) repeat-y left;}
DIV.green  DIV.dropMenu DIV.bgL UL LI A:hover { background:#9fe067;}
DIV.green  DIV.dropMenu DIV.bgL UL LI DIV.sub2 { background:#9fe067 url(http://www.microsoftrnd.co.il/img/subBgL.png) repeat-y left;}
DIV.orange  DIV.dropMenu DIV.bgL UL LI A:hover { background:#ff6c00;}
DIV.orange  DIV.dropMenu DIV.bgL UL LI DIV.sub2 { background:#ff6c00 url(http://www.microsoftrnd.co.il/img/subBgL.png) repeat-y left;}
DIV.red  DIV.dropMenu DIV.bgL UL LI A:hover { background:#d4320c;}
DIV.red  DIV.dropMenu DIV.bgL UL LI DIV.sub2 { background:#d4320c url(http://www.microsoftrnd.co.il/img/subBgL.png) repeat-y left;}
DIV.purple  DIV.dropMenu DIV.bgL UL LI A:hover { background:#301541;}
DIV.purple  DIV.dropMenu DIV.bgL UL LI DIV.sub2 { background:#301541 url(http://www.microsoftrnd.co.il/img/subBgL.png) repeat-y left;}

DIV.dropMenu DIV.bgL UL LI DIV.sub2 { position:absolute; left:154px; top:7px; background:#83c4f4; width:100px; padding:1px 25px 18px 22px;}
DIV.dropMenu DIV.bgL UL LI DIV.sub2 A { display:block; font:normal 12px arial; color:#FFF; padding:11px 0 0 0!important;}


/* 


*/

/* gilad adds from 4/1 */

.topNav UL LI .dropMenu{display:none;}
.topNav ul LI:hover .dropMenu{display:block;}
.topNav ul LI.onM .dropMenu{display:block;}

.topNav UL LI .dropMenu UL LI .sub2{display:none;}
.topNav UL LI .dropMenu UL LI:hover .sub2{display:block;}

DIV.blue DIV.dropMenu DIV.bgL UL LI.on A { background:#007cbf;}
DIV.green DIV.dropMenu DIV.bgL UL LI.on A { background:#9fe067;}
DIV.orange DIV.dropMenu DIV.bgL UL LI.on A { background:#ff6c00;}
DIV.red DIV.dropMenu DIV.bgL UL LI.on A { background:#d4320c;}
DIV.purple DIV.dropMenu DIV.bgL UL LI.on A { background:#86669b;}


/*line 230 - fix shadow*/
DIV.dropMenu DIV.bgB {background-image:none; padding-left:5px;}


/**black**/
DIV.black DIV.leftNav { background:#000 url(http://www.microsoftrnd.co.il/img/blackMenu.png) no-repeat right top;}
DIV.black DIV.leftNav UL.leftMenu LI { border-top:1px solid #4d4d4d; text-align:left;}
DIV.black UL.leftMenu LI.last {border-bottom:1px solid #4d4d4d;}
DIV.black UL.leftMenu LI A.selected { background:#040404}

DIV.black DIV.leftNav DIV.leftSearch { display:inline-block; width:155px; margin:0 auto; background:url(sprite00.png) no-repeat -2815px 0; height:23px; padding-right:6px; margin-top:20px;}
DIV.black DIV.leftNav DIV.leftSearch DIV.linkLeft { height:23px; padding:0}



DIV.black DIV.leftNav DIV.nav A.activeSlide { background:url(http://www.microsoftrnd.co.il/img/pagerCircle_onBl.png) no-repeat;}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav UL LI A { color:#FFF}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav UL LI A { color:#FFF}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav UL LI A.select {color:#ec008c}

DIV.black  DIV.midContent DIV.footer UL LI { display:inline; padding:0 0 0 8px; margin:0px; color:#000188}
DIV.black  DIV.midContent DIV.footer UL LI A { color:#000188;}

DIV.black DIV.socialTools { background:#4f4f4f;}
DIV.black  DIV.socialTools A.tab { display:inline-block; *display:none; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelBl.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.black  DIV.socialTools A.tab:hover { width:27px; right:-27px;}
DIV.black  DIV.socialTools A.tab SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -497px;  height:94px; }

DIV.black  DIV.socialTools A.tab_open { display:inline-block; cursor:pointer; background:url(http://www.microsoftrnd.co.il/img/labelBl.png) no-repeat right; width:21px; height:94px; text-align: center; position:absolute; top:50%; right:-21px; margin-top:-47px; font:lighter 1.3em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF; color:#FFF}
DIV.black  DIV.socialTools A.tab_open:hover {width:21px; right:-21px;}
DIV.black  DIV.socialTools A.tab_open SPAN { display:block; background:url(sprite00.png) no-repeat -1925px -611px; height:94px; }

DIV.black DIV.midContent DIV.contentCenter DIV.topNav { background:url(http://www.microsoftrnd.co.il/img/blckpic1.jpg) no-repeat bottom!important; margin:0 -160px; padding:30px 160px 38px 160px;}


DIV.black DIV.midContent DIV.contentCenter DIV.topNav A.iconMail { background:url(iconMail.png) no-repeat; }
DIV.black DIV.midContent DIV.contentCenter DIV.topNav A.iconMail:hover {background:url(sprite00.png) no-repeat -2476px -986px;}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter { background: url(tIconW00.png) no-repeat;}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav A.iconTwitter:hover { background: url(sprite00.png) no-repeat -2476px -1679px;}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav A.iconFace { background: url(fIconW00.png) no-repeat}
DIV.black DIV.midContent DIV.contentCenter DIV.topNav A.iconFace:hover { background: url(sprite00.png) no-repeat -2476px -294px;} 
DIV.black  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip { background:url(http://www.microsoftrnd.co.il/img/tooltioPointerBl.png) no-repeat left top;}
DIV.black  DIV.midContent DIV.contentCenter DIV.topNav .linkToolTip SPAN { background:#ec008c;}



DIV.black  DIV.bgL { background:#98025d url(http://www.microsoftrnd.co.il/img/dropD_topBl.png) no-repeat top;}
DIV.black DIV.dropMenu DIV.bgL UL LI { border-bottom:1px solid #d45ca5;}
DIV.black  DIV.dropMenu DIV.bgL UL LI A:hover { background:#ce017d;}
DIV.black  DIV.dropMenu DIV.bgL UL LI.on A{background:#ce017d;}
DIV.black  DIV.dropMenu DIV.bgL UL LI DIV.sub2 { background:#ce017d url(http://www.microsoftrnd.co.il/img/subBgL.png) repeat-y left;}


DIV.black  DIV.socialTools  DIV.socialOpen UL.facebookList LI IMG {border:1px solid #4b4b4b}
DIV.black  DIV.socialTools  DIV.socialOpen UL.facebookList LI SPAN { color:#4b4b4b}
DIV.black  DIV.socialTools  DIV.socialOpen DIV.innerBoxs { background:#000; padding:17px 25px 15px 25px; margin-bottom:5px;}
DIV.black  DIV.socialTools  DIV.socialOpen DIV.innerBoxs P { font:lighter 1.8em "SEGOE UI LIGHT", "SEGOE UI", TAHOMA, ARIAL, VERDANA, SANS SERIF ; color:#4b4b4b; padding:0 0 15px 0; margin:0px;}
.black .blogFeed a { color:#ec008c}
.black  #twtr-widget-1 .twtr-tweet a {color:#ec008c!important}
DIV.black DIV.socialTools DIV.socialOpen DIV.bottomLinks A { background-color:#000}





















































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
